.starter-template
  %h2 The best Free Sample Aggregator on the interwebs!
  %h3 Our samples are refreshed every hour!

= link_to 'New Site', new_site_path if user_signed_in?

.banner
  = render "google_ads"

.sort-samples
  = simple_form_for(:site, url: sites_path, method: :get, html: { class: 'form-inline' }) do |f|
    = f.input :name, required: false, collection: Site.all.map(&:name), prompt: "Filter Sites", label: false, selected: nil
    = f.button :submit, "Filter"

- @sites.each do |site|
  %div.sample
    %h2= site.name
    %h3= site.description
    %ul.list-group
    - site.latest_twenty.each_with_index do |sample, index|
      = render partial: "sample", locals: {sample: sample}

.banner
  = render "google_ads"
