.starter-template
  %h2 The best Free Sample Aggregator on the interwebs!
  %h3 Our samples are refreshed every hour!

= link_to 'New Site', new_site_path if user_signed_in?

.banner
  = google_adsense_include_tag client: 'ca-pub-4732305755992322', slot: '6543816588', format: 'auto'

- @sites.each do |site|
  %div.sample
    %h2= site.name
    %h3= site.description
    %ul.list-group
    - site.latest_twenty.each do |sample|
      %li.list-group-item
        %h4= link_to sample.title, sample.link, target: '_blank'
        %p.span.label.label-default #{time_ago_in_words(sample.pub_date)} old
        %p.summary= raw sample.summary
