!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SampleGator
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = render "facebook"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#{root_path}"}
            %h1 Free Sample Gator - Beta
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            .fb-like{"data-action" => "like", "data-href" => "http://www.freesamplegator.co/", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}

            / %li.active
            /   %a{:href => "#"} Home
            / %li
            /   %a{:href => "#about"} About
            / %li
            /   %a{:href => "#contact"} Contact
        / /.nav-collapse
    .container
      = yield
